#game{
  background-image: url(../images/fondo.jpg);
}
#whiteLeterZone{
  color: whitesmoke
}
#board{
  text-align: center;
}
#editChallengeBody{
  color: white;
  background-image: url(../images/editChallengeBody.png);
}

#profileBody{
  color: white;
  background-image: url(../images/img/bg-signup.jpg);
}

#myChallengeBody{
  /* color: white; */
  background-image: url(../images/myChallengeBody.png);
}
