<head>

</head>
{{#if infoFlash}}
  <div class="alert alert-info" role="alert">
    {{infoFlash}}
  </div>
{{/if}}
<a href="/profile"><button type="button" class="btn btn-warning">My profile</button></a>
<a href="/logout"><button type="button" class="btn btn-dark">logout</button></a>
<a href="/challenge/readAll"><button type="button" class="btn btn-info">my challenges</button></a>
<body id="game">
  <div class="container" id="whiteLeterZone">

      <!-- <h1>Game Create</h1> -->
      <div class="container text-center" id="board">
        <canvas id="canvas" width="800" height="600"></canvas>
        <div class="row">
          <div class="col text-center">

            <button class="btn btn-primary btn-lg" id="start">Start Game</button>
            <br>
            <br>
            <a href="/game/create"><button class="btn btn-danger">Reiniciar</button></a>
          </div>
        </div>
      </div>

      <br>
      <!-- POST to Create Challenge  -->


      <!-- </form> -->


  </div>
  <div class="container" id="createChallengeForm">

    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Challenge your friends</h1>
    <p class="lead">Send a space Demons challenge by mail to your enemies or friends </p>
    <!-- .. -->
    <form class="form-inline" action="/challenge/create" method="POST">
      <label class="sr-only" for="createChallenge"></label>
      <input type="number" name="time" class="form-control mb-2 mr-sm-2" id="createChallengeTime" placeholder="How many seconds">

      <label class="sr-only" for="createChallenge"></label>
      <input type="number" name="score" class="form-control mb-2 mr-sm-2" id="createChallengeScore" placeholder="Score to beat">

      <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="email" name="email" class="form-control" id="createChallengeName" placeholder="Add a friends mail">
      </div>

      <button type="submit" class="btn btn-success mb-2">Create Challenge</button>
    </form>
  </div>
</div>


  </div>

</body>
