<head>

</head>



  <body id="game">
    <h1>Game Create</h1>
    <div class="container text-center" >
      <canvas id="canvas" width="800" height="600"></canvas>
      <div class="row">
        <div class="col text-center">

          <button class="btn btn-primary btn-lg">Start Game</button>
        </div>
      </div>
    </div>


  </body>
