<head>

</head>

<a href="/profile"><button type="button" class="btn btn-warning">My profile</button></a>

  <body id="game">
    <h1>Game Create</h1>
    <div class="container text-center" id="board">
      <canvas id="canvas" width="800" height="600"></canvas>
      <div class="row">
        <div class="col text-center">

          <button class="btn btn-primary btn-lg" id="start">Start Game</button>
          <br>
          <br>
          <a href="/game/create"><button class="btn btn-danger">Reiniciar</button></a>
        </div>
      </div>
    </div>

    <br>


  </body>
